* {
    margin: 0;                  /* 마진값 초기화 */
    padding: 0;                 /* 패딩값 초기화*/
    box-sizing: border-box;     /* 박스 영역은 테두리까지 지정 */
}

a {
    text-decoration: none;  /* 로고 밑줄 제거 */
}

ul {
    list-style: none;   /* 메뉴 불릿 기호 없애기 */
}

/* 전체 홈페이지 영역*/
#container {
    margin: 0 auto;     /* 화면 중앙에 배치 */
    width: 1200px;      /* 너비 지정 */
}

/* 헤더 영역 */
header {
    width: 100%;
    height: 120px;
    background-color:grey; /* 영역 표시를 위하여 색 추가 */
}

/* 로고 영역 */
#logo {
    float: left;
    width: 250px;
    height: 120px;
    line-height: 120px; /* height 값과 같게 만들어서 세로로 중간에 오도록 맞춤 */
    padding-left: 40px; /* 왼쪽 패딩 지정 */
}

/* 로고 글씨 설정, 이미지나 다른거로 대체시 삭제*/
#logo h1 {
    font-weight:700;
    font-size: 40px;
    color: black;
}

/* 내비게이션 영역 */
nav {
    float: left;
    width: 100%;
    height: 60px;
    background-color: grey;  /* 영역 표시를 위하여 색 추가 */
}

#menu {
    height: 60px;
    width: 55%;
    background-color: navy;
    margin-left: 10px;
    
}

#menu > li {
    float: left; 
    position: relative; /* 서브 메뉴를 absolute로 만들기 위해 부모 요소를 relative로 지정 */
}

#menu > li > a {
    border: 1px solid white; /* 메인 메뉴 탭 경계선 설정 */
    display:block;  
    color:#fff;
    width: 165px;
    height: 60px;
    font-weight: 600;
    text-shadow: 0 1px navy;
    padding-left:60px;
    padding-top: 15px;
}

#menu > li > a > span {
    font-size: 0.5em;   /* 서브 메뉴가 있는 항목에 화살표 표시 */
}

#menu > li > a:hover {      /* 메인 메뉴 탭위에 마우스 올릴 시 */
    opacity: 0.4;           /* 반투명해짐 */
    text-shadow: 0 -1px navy;   /* 글자가 굵어지지 않도록 지정 */
}

#menu > li > ul {
    
    display: none;  /* 서브 메뉴를 처음에는 감춤 */
    position: absolute; /* 서브 메뉴 포지셔닝 */
    width: 165px;
    background-color: navy; /* 서브 메뉴 배경색 */
    left: 0;
    margin: 0;
}

#menu > li > ul > li {
    border: 1px solid white; /* 서브 메뉴 탭 경계선 설정 */
    padding: 10px 10px 10px 45px;   /* 서브 메뉴 항목 지정 */
}

#menu > li > ul > li > a {
    font-size: 14px;
    padding: 14px;
    color:white;
}

#menu > li > ul > li > a:hover {
    opacity: 0.4;   /* 서브 메뉴 위에 마우스 올릴 시 반투명해짐 */
}

#menu > li:hover > ul {
    display: block; /* 메인 메뉴 항목 위로 오버하면 서브 메뉴 표시 */
    z-index: 10;    /* 다른 영역에 가리지 않게 조절 */
}

#filter {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: grey; /* 영역 표시를 위하여 색 추가*/
}

/* 슬라이드 쇼 영역 */
#slideShow {
    clear: both;                /* 플로팅 해제 */           
    width: 100%;
    height: 350px;
    overflow: hidden;           /* 영역 넘치면 감춤 */
    position: relative;
    background-color:grey;    /* 영역 표시를 위하여 색 추가*/
}

#slideShowTitle {
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding-left: 100px;
}

#slides {
    position: absolute;
    width: 900px;
    height: 200px;
    margin-top: 100px;  /* 제목 높이만큼 내림 */
    margin-left: 150px;
}

#slides > a {
    float: left;
    width: 20%;
    padding-left: 30px;
    padding-bottom: 60px;
}

#slides > a:hover { /* 슬라이드 사진위에 마우스를 올리면 */
    opacity:0.5;    /* 사진이 반투명하게 지정 */
}

button {
    position: absolute;
    height: 60px;
    top: 70px;
    border: none;                   /* 테두리 없이 */
    padding: 10px;
    background-color: transparent;  /* 투명한 배경 지정 */
    color: #000;
    font-weight: 800;
    font-size: 25px;            
    opacity: 0.5;                   /* 화살표를 반투명하게 지정 */
}

#prev {
    left: 0;    /* 왼쪽으로 붙이기 */
}

#next {
    right: 0;   /* 오른쪽으로 붙이기 */
}

button:hover {                /* 마우스 포인터를 올리면 */
    background-color:#222;  /* 배경색을 짙은 회색으로 변경 */
    color: #fff;            /* 흰색 화살표 */
    opacity: 0.6;             /* 불투명도를 높임 */
    cursor: pointer;          /* 포인터 모양으로 바꿈 */
}

button:focus {
    outline: 0; /* 아웃라인 없앰 */
}